torch==2.4.1
tokenizers==0.21.0
transformers>=4.47
accelerate==1.2.0
optimum==1.23.3
xformers
einops==0.8.0
requests==2.32.2
packaging
ninja
protobuf==3.20.0

qwen-vl-utils==0.0.8
lmdeploy==0.6.5
clarifai
